.card {
    width: 300px;
    padding: 10px!important;
    height: 420px;
}

.content {
    display: flex;
    flex-direction: column;    
}

.imgContainer {
    margin-bottom: 10px;
    border-radius: 16px;
    width: 280px;
    background-color: rgba(var(--light-grey-rgb),.3);
    overflow: hidden;
}

.img {
    object-fit: cover;
    width: 280px;
    height: 220px;
    
}

.listingInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    padding: 10px;
}

.description {
    height: 80px;
    padding: 0px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.price {
    color: rgb(var(--primary-color-rgb))
}

.timestamp {
    font-size: 12px;
    display: block;
    color: rgb(var(--light-grey-rgb));
}